.formControls textarea {
    border: 1px solid blue;
}

.error textarea {
    border: 1px solid red;
}

.error span {
    color: red;
}

.errorOnSubmit {
    color: red;
    border: 1px solid red;
    padding: 5px;
}