.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialogs__item {
	padding: 10px;
}

.item {
	padding: 10px;
}

.link {
    text-decoration: none;
    color: #666;
}

.link__active {
    color: rgb(146, 40, 105);
	font-weight: bold;
}

.messages {
    padding: 10px;
    border-left: 1px solid #666;
}

.messages__item {
	padding: 10px;
}