.dialogs {
	display: grid;
	grid-template-columns: 3fr 10fr;
}

.dialogs__item {
	padding: 10px;
}

.item {
    padding: 10px;
    display: flex;
    align-items: center;
}

.avatar__image {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-right: 10px;
}

.link {
    text-decoration: none;
    color: #666;
}

.link__active {
    color: rgb(146, 40, 105);
	font-weight: bold;
}

.messages {
    width: 100%;
    padding: 10px;
    border-left: 1px solid #666;
}
