.dialogs {
    display: grid;
    grid-template-areas: 
    "d m"
    "s m";

    grid-template-rows: 8fr 3fr;
    grid-template-columns: 3fr 10fr;
    

}

.dialogs__item {
    grid-area: d;
	padding: 10px;
}

.item {
    padding: 10px;
    display: flex;
    align-items: center;
}

.avatar__image {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-right: 10px;
}

.link {
    text-decoration: none;
    color: #666;
}

.link__active {
    color: rgb(146, 40, 105);
	font-weight: bold;
}

.messages {
    grid-area: m;
    padding: 10px;
    border-left: 1px solid #666;
}

.send__message {
    grid-area: s;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 10px;
}


