.header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-image: url('./img/bg.jpg');
}

.header img {
    margin-left: 20px;
    height: 80px;

}

.loginBlock {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #666;
}

.loginBlock a {
    color: #555;
    font-size: 1.5em;
    text-decoration: none;
}

.loginBlock__item {
    margin-right: 20px;
}

.loginBlock__item:last-child {
    margin-right: 0;
}

.btn {
    width: 100px;
    height: 30px;
    background-color: aqua;
}