.header {
    grid-area: h;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-image: url('./img/bg.jpg');
}

.header img {
    margin-left: 20px;
    height: 80px;

}