
.item {
    margin: 15px 0px 15px 15px;
    font-size: 1.4em;
    font-weight: 600;
}

.item a {
    color: #666;
    text-decoration: none;
}

.item a:hover {
    color: rgb(146, 40, 105);
}

.item .active {
    color: rgb(146, 40, 105);
}