.app-wrapper {
    display: grid;
    
    width: 1200px;
    height: 100vh;

    grid-template-areas: 
    "h h"
    "n c";

    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
}






