.app-wrapper {
    display: grid;
    
    width: 100%;
    height: 100vh;

    grid-template-areas: 
    "h h"
    "n c";

    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper__content {
    grid-area: c;
    margin: 10px;
    padding: 10px;
    border: 1px solid #999;
}


.app-wrapper__content img {
    height: 150px;
    width: 1000px;  
}






